.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #2BC48C;
  border: 1px solid #2BC48C;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #17694A;
  border-color: #17694A;
}
